<a href="https://colab.research.google.com/github/piocode0110/WebScraping/blob/main/CoordenadasGeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Caso de Estudio:</center></h1>

Este ejercicio fue realizado por **[Piocode0110](https://www.linkedin.com/in/jamavapiocu/)** con fines exclusivemente academicos y no comerciales, cualquier uso ilegal estara fuera de mis intensiones.



<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Latitud_y_Longitud_en_la_Tierra.svg/1280px-Latitud_y_Longitud_en_la_Tierra.svg.png">

In [1]:
import pandas as pd
import requests
import random
from bs4 import BeautifulSoup
from tqdm import tqdm

In [2]:
df=pd.read_html('https://www.antipodas.net/coordenadaspais/')

In [3]:
type(df)

list

In [4]:
df[0].columns

Int64Index([0, 1, 2], dtype='int64')

In [5]:
df

[                   0                        1                 2
 0               País  Coordenadas Geográficas  Nº de Habitantes
 1         Afganistán        N33°0'0" E65°0'0"        29.121.286
 2            Albania     N41°19'60" E19°49'0"         2.986.952
 3           Alemania         N51°0'0" E9°0'0"        81.802.257
 4            Andorra       N42°30'0" E1°36'0"            84.000
 ..               ...                      ...               ...
 237  Wallis y Futuna     S13°18'0" O176°12'0"               N/S
 238            Yemen        N15°0'0" E48°0'0"        23.495.361
 239           Yibuti       N11°30'0" E43°0'0"           740.528
 240           Zambia        S15°0'0" E30°0'0"        13.460.305
 241         Zimbabue        S20°0'0" E30°0'0"        11.651.858

 [242 rows x 3 columns]]

In [6]:
df[0]

                   0                        1                 2
0               País  Coordenadas Geográficas  Nº de Habitantes
1         Afganistán        N33°0'0" E65°0'0"        29.121.286
2            Albania     N41°19'60" E19°49'0"         2.986.952
3           Alemania         N51°0'0" E9°0'0"        81.802.257
4            Andorra       N42°30'0" E1°36'0"            84.000
..               ...                      ...               ...
237  Wallis y Futuna     S13°18'0" O176°12'0"               N/S
238            Yemen        N15°0'0" E48°0'0"        23.495.361
239           Yibuti       N11°30'0" E43°0'0"           740.528
240           Zambia        S15°0'0" E30°0'0"        13.460.305
241         Zimbabue        S20°0'0" E30°0'0"        11.651.858

[242 rows x 3 columns]

In [7]:
df=df[0].rename(columns={0:'Pais',1:'Latitud y Longitud',2:'Personas'})

In [8]:
df

                Pais       Latitud y Longitud          Personas
0               País  Coordenadas Geográficas  Nº de Habitantes
1         Afganistán        N33°0'0" E65°0'0"        29.121.286
2            Albania     N41°19'60" E19°49'0"         2.986.952
3           Alemania         N51°0'0" E9°0'0"        81.802.257
4            Andorra       N42°30'0" E1°36'0"            84.000
..               ...                      ...               ...
237  Wallis y Futuna     S13°18'0" O176°12'0"               N/S
238            Yemen        N15°0'0" E48°0'0"        23.495.361
239           Yibuti       N11°30'0" E43°0'0"           740.528
240           Zambia        S15°0'0" E30°0'0"        13.460.305
241         Zimbabue        S20°0'0" E30°0'0"        11.651.858

[242 rows x 3 columns]

In [9]:
df=df.drop([0],axis=0)
df=df.drop(columns='Personas')

In [10]:
df

                Pais    Latitud y Longitud
1         Afganistán     N33°0'0" E65°0'0"
2            Albania  N41°19'60" E19°49'0"
3           Alemania      N51°0'0" E9°0'0"
4            Andorra    N42°30'0" E1°36'0"
5             Angola   S12°30'0" E18°30'0"
..               ...                   ...
237  Wallis y Futuna  S13°18'0" O176°12'0"
238            Yemen     N15°0'0" E48°0'0"
239           Yibuti    N11°30'0" E43°0'0"
240           Zambia     S15°0'0" E30°0'0"
241         Zimbabue     S20°0'0" E30°0'0"

[241 rows x 2 columns]

##con este reset_index, por ser ya un dataframe se elimina el primer registro que esta en Cero. Para comenzar en la posicion 1

In [11]:
df=df.reset_index()
df=df.drop(columns='index')

In [12]:
df

                Pais    Latitud y Longitud
0         Afganistán     N33°0'0" E65°0'0"
1            Albania  N41°19'60" E19°49'0"
2           Alemania      N51°0'0" E9°0'0"
3            Andorra    N42°30'0" E1°36'0"
4             Angola   S12°30'0" E18°30'0"
..               ...                   ...
236  Wallis y Futuna  S13°18'0" O176°12'0"
237            Yemen     N15°0'0" E48°0'0"
238           Yibuti    N11°30'0" E43°0'0"
239           Zambia     S15°0'0" E30°0'0"
240         Zimbabue     S20°0'0" E30°0'0"

[241 rows x 2 columns]

In [13]:
df['Latitud y Longitud'][1].split()[0]#latitud
#df['Latitud y Longitud'][1][0:8] #latitud otra forma

'N41°19\'60"'

In [14]:
df['Latitud y Longitud'][0].split()[1]#longitud
#df['Latitud y Longitud'][1][8:17] otra forma de hacer longitud

'E65°0\'0"'

##se crea las dos columnas Latitud y Longitud. y asi colocar los datos separados

In [15]:
df['Latitud']= df['Latitud y Longitud'].apply(lambda x: x.split()[0])
df['Longitud']= df['Latitud y Longitud'].apply(lambda x: x.split()[1])

In [16]:
df

                Pais    Latitud y Longitud     Latitud    Longitud
0         Afganistán     N33°0'0" E65°0'0"    N33°0'0"    E65°0'0"
1            Albania  N41°19'60" E19°49'0"  N41°19'60"   E19°49'0"
2           Alemania      N51°0'0" E9°0'0"    N51°0'0"     E9°0'0"
3            Andorra    N42°30'0" E1°36'0"   N42°30'0"    E1°36'0"
4             Angola   S12°30'0" E18°30'0"   S12°30'0"   E18°30'0"
..               ...                   ...         ...         ...
236  Wallis y Futuna  S13°18'0" O176°12'0"   S13°18'0"  O176°12'0"
237            Yemen     N15°0'0" E48°0'0"    N15°0'0"    E48°0'0"
238           Yibuti    N11°30'0" E43°0'0"   N11°30'0"    E43°0'0"
239           Zambia     S15°0'0" E30°0'0"    S15°0'0"    E30°0'0"
240         Zimbabue     S20°0'0" E30°0'0"    S20°0'0"    E30°0'0"

[241 rows x 4 columns]

In [17]:
type('Latitud')

str

#Separamos los valores de Latitud

In [18]:
df['Latitud'][0]

'N33°0\'0"'

In [19]:
df['Latitud'][0][0] # Polo Norte o Sur

'N'

In [20]:
float(df['Latitud'][0].split('°')[0][1:]) #se realizo un split con (rango de mi posicion 1 hasta grado(°))se paso a flotante ya que era str

33.0

In [21]:
#int(float(df['Latitud'][0].split('°')[0][1:]))# se pasa a int, pero es lo mismo que la linea de arriba

In [22]:
float(df['Latitud'][0].split('°')[1].split("'")[0])#se utiliza el split para separar el min(rango ° hasta ')

0.0

In [23]:
float(df['Latitud'][0].split('°')[1].split("'")[1][:-1])#se utiliza el split para separar el seg(rango ° hasta ')

0.0

#Separamos los valores de Longitud

In [24]:
df['Longitud'][0]

'E65°0\'0"'

In [25]:
df['Longitud'][0][0]#Hemisferio Este / Oeste

'E'

In [26]:
float(df['Longitud'][0].split('°')[0][1:])

65.0

In [27]:
float(df['Longitud'][0].split('°')[1].split("'")[0])

0.0

In [28]:
float(df['Longitud'][0].split('°')[1].split("'")[1][:-1])

0.0

#CREAMOS LAS NUEVAS COLUMNAS 
##Latitud Polo - LatitudMin - LatitudSeg

In [31]:
df['Latitud Polo'] = df['Latitud'].apply(lambda x: x.split()[0][0])
df['Latitud Punto'] = df['Latitud'].apply(lambda x: x.split('°')[0][1:])
df['Latitud Min'] = df['Latitud'].apply(lambda x: x.split('°')[1].split("'")[0])
df['Latitud Seg'] = df['Latitud'].apply(lambda x: x.split('°')[1].split("'")[1][:-1])

##Longitud Hemisferio Este/Oeste - LongitudMin - Longitud Seg

In [33]:
df['Longitud Este/Oeste'] = df['Longitud'].apply(lambda x: x.split()[0][0])
df['Longitud Punto'] = df['Longitud'].apply(lambda x: x.split('°')[0][1:])
df['Longitud Min'] = df['Longitud'].apply(lambda x: x.split('°')[1].split("'")[0])
df['Longitud Seg'] = df['Longitud'].apply(lambda x: x.split('°')[1].split("'")[1][:-1])

In [34]:
df

                Pais    Latitud y Longitud  ... Longitud Min Longitud Seg
0         Afganistán     N33°0'0" E65°0'0"  ...            0            0
1            Albania  N41°19'60" E19°49'0"  ...           49            0
2           Alemania      N51°0'0" E9°0'0"  ...            0            0
3            Andorra    N42°30'0" E1°36'0"  ...           36            0
4             Angola   S12°30'0" E18°30'0"  ...           30            0
..               ...                   ...  ...          ...          ...
236  Wallis y Futuna  S13°18'0" O176°12'0"  ...           12            0
237            Yemen     N15°0'0" E48°0'0"  ...            0            0
238           Yibuti    N11°30'0" E43°0'0"  ...            0            0
239           Zambia     S15°0'0" E30°0'0"  ...            0            0
240         Zimbabue     S20°0'0" E30°0'0"  ...            0            0

[241 rows x 12 columns]

#Cómo convertir grados minuto segundo a grado decimal

In [59]:
import re

def lat(degrees, minutes, seconds, direction):
    lat = float(degrees) + float(minutes)/60 + float(seconds)/(60*60);
    if direction == 'N' or direction == 'S':
        lat *= -1
    return lat;

def longitude(degrees, minutes, seconds, direction):
    longitude = float(degrees) + float(minutes)/60 + float(seconds)/(60*60);
    if direction == 'E' or direction == 'O':
        longitude *= -1
    return longitude;

In [60]:
lat(41,19,60, 'N')

-41.333333333333336

In [61]:
longitude(19, 49, 0, 'E')

-19.816666666666666