<a href="https://colab.research.google.com/github/piocode0110/WebScraping/blob/main/Extracci%C3%B3n_todas_las_temporadas_Liga_BBVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import random
import time 
from tqdm import tqdm

# Leemos la data de la tabla

In [ ]:
df=pd.read_html('https://www.espn.com.co/futbol/posiciones/_/liga/ESP.1/temporada/2020')

In [ ]:
df[0].head()

             2020/2021
0  1ATLAtlético Madrid
1      2MADReal Madrid
2        3BARBarcelona
3       4SEVSevilla FC
4    5SOCReal Sociedad

In [ ]:
type(df)

list

In [ ]:
df[1].head()

    J   G   E   P  GF  GC  DIF  PTS
0  38  26   8   4  67  25   42   86
1  38  25   9   4  67  28   39   84
2  38  24   7   7  85  38   47   79
3  38  24   5   9  53  33   20   77
4  38  17  11  10  59  38   21   62

In [ ]:
df[1].columns

Index(['J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS'], dtype='object')

# Concatenamos

In [ ]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                        0   1
0     1ATLAtlético Madrid  38
1         2MADReal Madrid  38
2           3BARBarcelona  38
3          4SEVSevilla FC  38
4       5SOCReal Sociedad  38
5   6Real BetisReal Betis  38
6          7VLRVillarreal  38
7          8VIGCelta Vigo  38
8             9GRNGranada  38
9    10BILAthletic Bilbao  38
10           11OSAOsasuna  38
11             12CADCádiz  38
12          13VALValencia  38
13           14LEVLevante  38
14            15GETGetafe  38
15         16AlavésAlavés  38
16             17ELCElche  38
17         18HuescaHuesca  38
18   19VLDReal Valladolid  38
19             20EIBEibar  38

# Renombramos las columnas

In [ ]:
df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})

# Limpiamos la data

Se limpian los primeros 4 caracteres ya que NO deseamos abreviaturas

In [ ]:
# Antes
df['EQUIPO'][0]

'1ATLAtlético Madrid'

In [ ]:
# Despues
df['EQUIPO'][0][4:]

'Atlético Madrid'

In [ ]:
df['EQUIPO']=df['EQUIPO'].apply(lambda x : x[4:])

# Tenemos nuestra tabla limpia

In [ ]:
df

               EQUIPO   J   G   E   P  GF  GC  DIF  PTS
0     Atlético Madrid  38  26   8   4  67  25   42   86
1         Real Madrid  38  25   9   4  67  28   39   84
2           Barcelona  38  24   7   7  85  38   47   79
3          Sevilla FC  38  24   5   9  53  33   20   77
4       Real Sociedad  38  17  11  10  59  38   21   62
5   l BetisReal Betis  38  17  10  11  50  50    0   61
6          Villarreal  38  15  13  10  60  44   16   58
7          Celta Vigo  38  14  11  13  55  57   -2   53
8             Granada  38  13   7  18  47  65  -18   46
9    LAthletic Bilbao  38  11  13  14  46  42    4   46
10           AOsasuna  38  11  11  16  37  48  -11   44
11             DCádiz  38  11  11  16  36  58  -22   44
12          LValencia  38  10  13  15  50  53   -3   43
13           VLevante  38   9  14  15  46  57  -11   41
14            TGetafe  38   9  11  18  28  43  -15   38
15         avésAlavés  38   9  11  18  36  57  -21   38
16             CElche  38   8  12  18  34  55  -21   36
17         escaHuesca  38   7  13  18  34  53  -19   34
18   DReal Valladolid  38   5  16  17  34  57  -23   31
19             BEibar  38   6  12  20  29  52  -23   30

# Extracción de todas las ligas

In [ ]:
years=list(range(2004,2021))
years

[2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

# Se genera tiempo aleatorio

Con la finalidad de no ser baneado de la url elegida

In [ ]:
random.choice([0.5,0.8,1,2,3])

0.5

# Generamos Url dinamica

In [ ]:
url_base='https://www.espn.com.co/futbol/posiciones/_/liga/ESP.1/temporada/'

# Armamos Url por temporada

In [ ]:
url_base+str(years[0])

'https://www.espn.com.co/futbol/posiciones/_/liga/ESP.1/temporada/2004'

# Extraemos info de todas las temporadas

In [ ]:
!pip install tqdm  #>>> instalas esta libreria

Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.41.1)

In [ ]:
todas_temporadas=[]

for i in tqdm(range(len(years))):
    
    # Extraemos data 
    df_temp=pd.read_html(url_base+str(years[i]))
    
    # Limpiamos 
    df_temp=pd.concat([df_temp[0],df_temp[1]],ignore_index=True,axis=1)
    df_temp=df_temp.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
    df_temp['EQUIPO']=df_temp['EQUIPO'].apply(lambda x : x[4:])
    df_temp['AÑO']=years[i]
    
    todas_temporadas.append(df_temp)
    
    # Usamos esto para desrobotizar el proceso , comportamiento humano
    time.sleep(random.choice([0.5,0.8,1,2,3]))

100%|██████████| 17/17 [00:30<00:00,  1.77s/it]

In [ ]:
todas_temporadas[3]

                 EQUIPO   J   G   E   P  GF  GC  DIF  PTS   AÑO
0           Real Madrid  38  27   4   7  84  36   48   85  2007
1            Villarreal  38  24   5   9  63  40   23   77  2007
2             Barcelona  38  19  10   9  76  43   33   67  2007
3       Atlético Madrid  38  19   7  12  66  47   19   64  2007
4            Sevilla FC  38  20   4  14  75  49   26   64  2007
5      Racing Santander  38  17   9  12  42  41    1   60  2007
6              Mallorca  38  15  14   9  69  54   15   59  2007
7               Almería  38  14  10  14  42  45   -3   52  2007
8   Deportivo La Coruña  38  15   7  16  46  47   -1   52  2007
9             LValencia  38  15   6  17  48  62  -14   51  2007
10     LAthletic Bilbao  38  13  11  14  40  43   -3   50  2007
11            PEspanyol  38  13   9  16  43  53  -10   48  2007
12   al BetisReal Betis  38  12  11  15  45  51   -6   47  2007
13              TGetafe  38  12  11  15  44  48   -4   47  2007
14     DReal Valladolid  38  11  12  15  42  57  -15   45  2007
15   ERecreativo Huelva  38  11  11  16  40  60  -20   44  2007
16             AOsasuna  38  12   7  19  37  44   -7   43  2007
17       RReal Zaragoza  38  10  12  16  50  61  -11   42  2007
18              RMurcia  38   7   9  22  36  65  -29   30  2007
19             VLevante  38   7   5  26  33  75  -42   26  2007

In [ ]:
data_final=pd.concat(todas_temporadas,ignore_index=True)

In [ ]:
data_final

                EQUIPO   J   G   E   P  GF  GC  DIF  PTS   AÑO
0            Barcelona  38  25   9   4  73  29   44   84  2004
1          Real Madrid  38  25   5   8  71  32   39   80  2004
2           Villarreal  38  18  11   9  69  37   32   65  2004
3    l BetisReal Betis  38  16  14   8  62  50   12   62  2004
4             Espanyol  38  17  10  11  54  46    8   61  2004
..                 ...  ..  ..  ..  ..  ..  ..  ...  ...   ...
335         avésAlavés  38   9  11  18  36  57  -21   38  2020
336             CElche  38   8  12  18  34  55  -21   36  2020
337         escaHuesca  38   7  13  18  34  53  -19   34  2020
338   DReal Valladolid  38   5  16  17  34  57  -23   31  2020
339             BEibar  38   6  12  20  29  52  -23   30  2020

[340 rows x 10 columns]

# Guardamos toda la info en un .csv

In [ ]:
data_final.to_csv('Todas_temporadas_BBVA.csv')

In [ ]:
import os

In [ ]:
os.listdir()

['.config', 'Todas_temporadas_BBVA.csv', 'sample_data']

In [ ]:
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'california_housing_train.csv',
 'mnist_test.csv',
 'mnist_train_small.csv',
 'california_housing_test.csv']

In [ ]:
os.getcwd()

'/content/JAN'

In [ ]:
!pwd

/content

In [ ]:
os.mkdir('JAN')

In [ ]:
os.chdir('JAN')

# FINALLLL