<a href="https://colab.research.google.com/github/piocode0110/WebScraping/blob/main/Olympics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import requests
import random
import time
from datetime import datetime
from bs4 import BeautifulSoup
from tqdm import tqdm

In [ ]:
df=pd.read_html('https://www.espn.com.co/olimpicos/verano/2020/medallas/')

In [ ]:
hoy = datetime.now()

In [ ]:
hoy.year

2021

In [ ]:
hoy.month

7

In [ ]:
hoy.day

25

##CREAMOS UNA NUEVA COLUMNA DE FECHAS

In [ ]:
fecha=str(hoy.year) + '-'+ str(hoy.month)+ '-' + str(hoy.day)

In [ ]:
df_final=df[3]
df_final['Fecha']=fecha

In [ ]:
df_final

   Grupo  O  P  B  Total      Fecha
0    CHN  6  1  4     11  2021-7-25
1    USA  4  2  4     10  2021-7-25
2    ROC  1  4  2      7  2021-7-25
3    JPN  5  1  0      6  2021-7-25
4    KOR  2  0  3      5  2021-7-25
5    ITA  1  1  3      5  2021-7-25
6    FRA  1  1  1      3  2021-7-25
7    AUS  1  1  1      3  2021-7-25
8    TUN  1  1  0      2  2021-7-25
9    HUN  1  1  0      2  2021-7-25
10   NED  0  2  0      2  2021-7-25
11   CAN  0  2  0      2  2021-7-25
12   SRB  0  1  1      2  2021-7-25
13   INA  0  1  1      2  2021-7-25
14   TPE  0  1  1      2  2021-7-25
15   GBR  0  1  1      2  2021-7-25
16   BRA  0  1  1      2  2021-7-25
17   UKR  0  0  2      2  2021-7-25
18   TUR  0  0  2      2  2021-7-25
19   KAZ  0  0  2      2  2021-7-25
20   GER  0  0  2      2  2021-7-25
21   KOS  1  0  0      1  2021-7-25
22   ECU  1  0  0      1  2021-7-25
23   UZB  1  0  0      1  2021-7-25
24   THA  1  0  0      1  2021-7-25
25   IRI  1  0  0      1  2021-7-25
26   AUT  1  0  0      1  2021-7-25
27   COL  0  1  0      1  2021-7-25
28   ESP  0  1  0      1  2021-7-25
29   ROU  0  1  0      1  2021-7-25
30   IND  0  1  0      1  2021-7-25
31   GEO  0  1  0      1  2021-7-25
32   BUL  0  1  0      1  2021-7-25
33   BEL  0  1  0      1  2021-7-25
34   SUI  0  0  1      1  2021-7-25
35   SLO  0  0  1      1  2021-7-25
36   MGL  0  0  1      1  2021-7-25
37   MEX  0  0  1      1  2021-7-25
38   ISR  0  0  1      1  2021-7-25
39   EST  0  0  1      1  2021-7-25

Reporte Diario

In [ ]:
'Medallero_'+ fecha +'.csv'

'Medallero_2021-7-25.csv'

In [ ]:
#DESCARGAMOS EL ARCHIVO CSV

In [ ]:
df_final.to_csv('Medallero_'+ fecha +'.csv')