<a href="https://colab.research.google.com/github/piocode0110/WebScraping/blob/main/Precio_Celulares_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Caso de Estudio:</center></h1>

Este ejercicio fue realizado por **[Piocode0110](https://www.linkedin.com/in/jamavapiocu/)** con fines exclusivemente academicos y no comerciales, cualquier uso ilegal estara fuera de mis intensiones.



<img src="https://teytel.com.co/teytel/img/servicio/img/teytel-celulares-claro.png">

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [ ]:
url='https://tienda.claro.com.co/CategoryDisplay?ddkey=ProductListingView_6_1051_4956&fromPage=catalogEntryList&urlRequestType=Base&catalogId=10001&categoryId=12101&resultType=products&showResultsPage=true&disableProductCompare=false&pageView=grid&beginIndex=0&langId=-5&enableSKUListView=false&pageSize=93&orderBy=1&emsName=Widget_ClaroCatalogEntryList_4956&ajaxStoreImageDir=%2Fwcsstore%2FClaro%2F&storeId=10151&pageView=grid&orderBy=1&fromPage=catalogEntryList&beginIndex=0&pageSize=93'

# petición a mi sitio web

Se realiza metodo get para obtener info del sitio web

In [ ]:
respo=requests.get(url)

# Respuesta del servidor

In [ ]:
respo.status_code

200

In [ ]:
 soup=BeautifulSoup(respo.text,'html.parser')

In [40]:
#soup

In [ ]:
producto=soup.findAll(class_='product_name')

In [ ]:
len(producto)

88

In [ ]:
 producto=list(producto)

# Extracción nombre del producto

In [ ]:
producto[1].text.split('\n\r\n')[1].split('\r\n\t\n')[0].strip()

'Alcatel 1E 3G'

In [ ]:
lista_pro=[]
for i in range(1,len(producto),1):
    lista_pro.append(producto[i].text.split('\n\r\n')[1].split('\r\n\t\n')[0].strip())

In [ ]:
 precio=soup.find_all('div', attrs={'class':'product_price'})

In [ ]:
precio[0].text.split('$')[1].split()[0] # Precio de oferta

'139.900'

In [ ]:
precio[0].text.split('$')[2].split()[0] # Precio del producto

'154.900'

In [ ]:
precio[1].text.split('$')[1].split()[0] # Precio de oferta

'367.900'

In [ ]:
precio[1].text.split('$')[2].split()[0] # Precio de oferta

'407.900'

In [ ]:
precio[2].text

'\n\n\n\n\t\t\r\n\t\t\t\t\t$5.835.960\r\n\t\t\t\t\t\t\t\nCliente Claro\r\n\t\t\t\t\t\t\t\t\n\n*Aplican términos y condiciones\n\n\n\n\r\n\t\t\t\t\t$6.187.960\xa0\xa0\r\n\t\t\t\t\t\r\n\t\t\t\t\t\t\tPrecio Ahora\n\n\n\n'

In [ ]:
len(precio)

87

# Extraemos precios de todos los productos

In [ ]:
precio_cliente=[]
precio_original=[]
for i in tqdm(range(len(precio))):
    
    if len(precio[i].text.split('$')) ==3 : 
            precio_cliente.append(precio[i].text.split('$')[1].split()[0])  # Precio de oferta
            precio_original.append(precio[i].text.split('$')[2].split()[0])  # Precio de producto 
    else : 
        
            precio_cliente.append(precio[i].text.split('$')[1].split()[0])  # Precio de oferta
            precio_original.append(precio[i].text.split('$')[1].split()[0])  # Precio de producto

100%|██████████| 87/87 [00:00<00:00, 8016.88it/s]

In [ ]:
len(precio_cliente)

87

In [ ]:
len(precio_original)

87

# Generamos Dataframe final

In [ ]:
data={'Nombre producto':lista_pro,'Precio_Cliente_Claro':precio_cliente,'Precio_Original':precio_original}
celu_claro=pd.DataFrame(data)

In [ ]:
celu_claro

                      Nombre producto Precio_Cliente_Claro Precio_Original
0                       Alcatel 1E 3G              139.900         154.900
1                 Alcatel 1SE 32GB 4G              367.900         407.900
2          iPhone 12 Pro Max 128GB 4G            5.835.960       6.187.960
3          iPhone 12 Pro Max 256GB 4G            6.366.960       6.750.960
4              iPhone 12 Mini 64GB 4G            3.416.960       3.416.960
..                                ...                  ...             ...
82               ZTE Blade L8 32GB 3G              170.900         189.900
83             ZTE Blade L130 16GB 3G              135.900         142.900
84       ZTE Blade V20 Smart 128GB 4G              600.900         666.900
85  ZTE Blade A5 2020 4G con Obsequio              299.900         299.900
86                   ZTE Blade A51 4G              371.900         412.900

[87 rows x 3 columns]

# Limpieza de precios

In [ ]:
type(celu_claro.Precio_Cliente_Claro[0])

str

In [ ]:
celu_claro.Precio_Cliente_Claro[36]

'1.142.900'

In [ ]:
celu_claro.Precio_Cliente_Claro[36].replace('.','')

'1142900'

In [ ]:
celu_claro['Precio_Cliente_Claro']=celu_claro['Precio_Cliente_Claro'].apply(lambda x:int(float(x.replace('.',''))))
celu_claro['Precio_Original']=celu_claro['Precio_Original'].apply(lambda x:int(float(x.replace('.',''))))

# Extraemos marca del celular

In [ ]:
celu_claro['Nombre producto'][0]

'Alcatel 1E 3G'

In [ ]:
celu_claro['Nombre producto'][20]

'Motorola Moto E6 Play 4G'

In [ ]:
celu_claro['Nombre producto'][0].split()

['Alcatel', '1E', '3G']

# Creamos nueva columna

In [ ]:
celu_claro['MARCA']=celu_claro['Nombre producto'].apply(lambda x : x.split()[0])

<h1><center>EDA -  Analisis Exploratorio de Datos </center></h1>

<img src="https://teytel.com.co/teytel/img/servicio/img/teytel-celulares-claro.png">

# Top 10 celulares mas baratos

In [ ]:
 celu_claro.sort_values(by='Precio_Cliente_Claro',ascending=True).head(10)

                        Nombre producto  ...     MARCA
83               ZTE Blade L130 16GB 3G  ...       ZTE
0                         Alcatel 1E 3G  ...   Alcatel
28                         Nokia 215 4G  ...     Nokia
26                        Nokia 6300 4G  ...     Nokia
82                 ZTE Blade L8 32GB 3G  ...       ZTE
44  Samsung Galaxy A01 Core 4G Dual Sim  ...   Samsung
27                Nokia C1 Plus 32GB 4G  ...     Nokia
85    ZTE Blade A5 2020 4G con Obsequio  ...       ZTE
20             Motorola Moto E6 Play 4G  ...  Motorola
68                   Xiaomi Redmi 9A 4G  ...    Xiaomi

[10 rows x 4 columns]

# Top 10 celulares mas caros

In [ ]:
celu_claro.sort_values(by='Precio_Cliente_Claro',ascending=False).head(10)

                               Nombre producto  ...    MARCA
3                   iPhone 12 Pro Max 256GB 4G  ...   iPhone
8                       iPhone 12 Pro 256GB 4G  ...   iPhone
2                   iPhone 12 Pro Max 128GB 4G  ...   iPhone
7                       iPhone 12 Pro 128GB 4G  ...   iPhone
59  Samsung Galaxy Note 20 Ultra 4G con Obsequ  ...  Samsung
6                           iPhone 12 128GB 4G  ...   iPhone
5                            iPhone 12 64GB 4G  ...   iPhone
4                       iPhone 12 Mini 64GB 4G  ...   iPhone
9                           iPhone 11 128GB 4G  ...   iPhone
11                           iPhone 11 64GB 4G  ...   iPhone

[10 rows x 4 columns]

# Celulares por marca

In [ ]:
celu_claro['MARCA'].value_counts()

Samsung     20
Xiaomi      13
iPhone      11
Nokia        9
Motorola     7
ZTE          6
Vivo         5
Huawei       5
TCL          3
Realme       3
Alcatel      2
Oppo         2
LG           1
Name: MARCA, dtype: int64

In [ ]:
celu_claro.describe()

       Precio_Cliente_Claro  Precio_Original
count          8.700000e+01     8.700000e+01
mean           1.213786e+06     1.293337e+06
std            1.372074e+06     1.440038e+06
min            1.359000e+05     1.429000e+05
25%            4.734000e+05     5.244000e+05
50%            6.569000e+05     6.909000e+05
75%            1.210425e+06     1.273925e+06
max            6.366960e+06     6.750960e+06

# Clasificación por gama de celular 


Teniendo en cuenta la tabla inmediatamente anterior deseamos establecer cuando un celular es gama baja ,media y alta pára eso estableciomos los siguientes topes : 

* $gamabaja \lt {500000}$
* $ {500000} \gt gamamedia \lt {1200000}$
* $gamaalta \gt{1200000}$

In [ ]:
celu_claro.loc[celu_claro['Precio_Cliente_Claro']<475000,'GAMA']='BAJA'
celu_claro.loc[(celu_claro['Precio_Cliente_Claro']>=475000) & (celu_claro['Precio_Cliente_Claro']<=1200000),'GAMA']='MEDIA'
celu_claro.loc[celu_claro['Precio_Cliente_Claro']>1200000,'GAMA']='ALTA'

# Cuantos celulares por gama

In [ ]:
celu_claro['GAMA'].value_counts()

MEDIA    43
ALTA     22
BAJA     22
Name: GAMA, dtype: int64

# Promedio de precios por gama

In [ ]:
celu_claro[['GAMA','Precio_Cliente_Claro']].groupby('GAMA').mean().reset_index()

    GAMA  Precio_Cliente_Claro
0   ALTA          3.082803e+06
1   BAJA          3.273545e+05
2  MEDIA          7.110674e+05

In [ ]:
celu_claro[celu_claro['GAMA']=='MEDIA']

                               Nombre producto  ...   GAMA
13                  Huawei Y7a 4G con Obsequio  ...  MEDIA
14                  Huawei Y9a 4G con Obsequio  ...  MEDIA
15                               Huawei Y6P 4G  ...  MEDIA
16                               Huawei Y9a 4G  ...  MEDIA
17                  Huawei Y7a 4G con Obsequio  ...  MEDIA
18                                LG K61 128GB  ...  MEDIA
22                   Motorola Moto G9 Power 4G  ...  MEDIA
23                    Motorola Moto G9 Play 4G  ...  MEDIA
24                        Motorola Moto G20 4G  ...  MEDIA
29                          Nokia 5.4 128GB 4G  ...  MEDIA
32                          Nokia G20 128GB 4G  ...  MEDIA
35              Oppo A54 128GB 4G con Obsequio  ...  MEDIA
36                         Oppo Reno 5 Lite 4G  ...  MEDIA
37                          Realme 7i 128GB 4G  ...  MEDIA
38                         Realme C15 128GB 4G  ...  MEDIA
39            Realme C15 128GB 4G con Obsequio  ...  MEDIA
41                 Samsung Galaxy A31 128GB 4G  ...  MEDIA
42                Samsung Galaxy A21S 128GB 4G  ...  MEDIA
43                       Samsung Galaxy A51 4G  ...  MEDIA
47                 Samsung Galaxy A12 128GB 4G  ...  MEDIA
49                  Samsung Galaxy A12 64GB 4G  ...  MEDIA
51                       Samsung Galaxy A32 5G  ...  MEDIA
52         Samsung Galaxy A12 64GB 4G Dual Sim  ...  MEDIA
54       Samsung Galaxy A21S 128GB 4G Dual Sim  ...  MEDIA
56    Samsung Galaxy M12 128GB 4G con Obsequio  ...  MEDIA
57                       Samsung Galaxy A32 4G  ...  MEDIA
58  Samsung Galaxy A32 4G Dual Sim con Obsequi  ...  MEDIA
60                             TCL 20E 64GB 4G  ...  MEDIA
61                            TCL 20E 128GB 4G  ...  MEDIA
62                  TCL 20E 128GB con Obsequio  ...  MEDIA
64                   Vivo Y30 64GB 4G Dual Sim  ...  MEDIA
66                          Vivo Y20s 128GB 4G  ...  MEDIA
67                           Vivo Y51 128GB 4G  ...  MEDIA
69                          Xiaomi Redmi 9C 4G  ...  MEDIA
70                      Xiaomi Redmi Note 9 4G  ...  MEDIA
71                          Xiaomi Redmi 9T 4G  ...  MEDIA
73                     Xiaomi Redmi Note 10 5G  ...  MEDIA
74  Xiaomi Redmi Note 8 128GB 4G con Obse(...)  ...  MEDIA
75              Xiaomi Redmi 9 4G con Obsequio  ...  MEDIA
76                    Xiaomi Redmi Note 10S 4G  ...  MEDIA
77                           Xiaomi Poco M3 4G  ...  MEDIA
81                        ZTE Blade A7 2020 4G  ...  MEDIA
84                ZTE Blade V20 Smart 128GB 4G  ...  MEDIA

[43 rows x 5 columns]

# FINAL ............